# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Vagrant related
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
.bundle/*

.kitchen/
.kitchen.local.yml

# Go
.godeps/*

# Front End
npm-debug.log
node_modules/
components/
static/js/build.js
static/css/build.css

# Local developer configuration options e.g. for ddns.
bursa.local.yml
