@import "../global/var";

// Various styles that are specific to the marketing site.
$bitcoin-orange: #F69619;

body.marketing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .main-content {
    flex: 1;
  }

  .banner {
    a {
      margin: 2.5em;
    }
    h2 {
      font-size: 50px;
    }
  }

  .features {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  // For helping vertically center images
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .detail-img {
    width: 100%;
    img {
      width: 90%;
    }
  }

  .cta-desc {
    text-align:center;
    margin-bottom: 115px;
  }

  .bitcoin {
    color: $bitcoin-orange;
  }

  .fa-20x {
    font-size: 20em;
  }

  .mugshots {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .footer {
    background-color: #fff;
    width:100%;
    height:90px;
    position:absolute;
    bottom:0;
    left:0;
  }

  footer {
    background:  $brand-info;
    padding: 2em 0em 2em 0em;
    color: white;

    .row > * {
      vertical-align: middle;
      display: inline-block;
    }

    .fa {
      color: white;
      margin: 0.2em;
      font-size: 1.8em;
    }

    .copyright {
      font-size: $font-size-base * 1.2;
      text-transform:lowercase;
      font-variant:small-caps;
      vertical-align:middle;
    }
  }

}
