.non-display {
    display: none;
}

.page {
    padding: 15px;
}

.page-form-ele {
    h3 {
        margin: 0;
    }
}

// For pages that don't have much content and could use some vertical centering.
.page-simple {
  .main-content {
    display: flex;
    flex: 1;

    .err-container {
    }
  }
}


// These are all blog specific.
p.intro {
  font-size: 1.368em;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  padding: 1.154em;
  text-align: center;
  border-style: solid;
  line-height: 1.32em;
  margin: 1.038em 0px;
}

p.lead {
	 text-align: center;
	 font-size: 13px;
	 letter-spacing: 2px;
   margin-top: 1.5em;
	 text-transform: uppercase;
}

p {
	 font-size: 1em;
	 line-height: 1.421em;
	 /* color: rgba(51, 51, 51, 0.80); */
	 margin: 0px 0px 1.421em 0px;
	 font-family: "Lato";
	 font-weight: 400;
	 font-style: normal;
}

article {
  max-width: 760px;
  margin:0 auto;
  font-size: 19px;
  padding: 0 7%;
}
