{{ define "content" }}
<div class="main-content">
    <div id="banner" class="banner">
        <div class="container">
            <div class="row">
                <h1>Our Mission</h1>
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <p class="lead">
                        We want to make Bitcoin natural, safe, and even <em>inventive</em>
                        to use.
                    </p>
                    </br>
                    </br>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row center-block">
            <div class="col-sm-6 blurb">
                <p>
                    Today, money does not have to flow between the branded
                    portals of banks who's user experience leans poor to average.
                    Truly, Bitcoin allows for an independence between the ownership
                    of infrastructure and the services that leverage it. Putting dreams
                    into motion, or simply helping split cab fare.
                </p>
                <p>Money is computing, and we want to be it's killer app.</p>
            </div>
        </div>
        <div class="row center-block">
            <div class="col-sm-6 text-center">
                <h1>The Team</h1>
                </br>
                </br>
                </br>
            </div>
        </div>
        <div class="row mugshots center-block">
            <div class="col-md-3 team-member text-center">
                <img src="img/jacob.png">
                <h3>Jacob Straszynski</h3>
                <h4>Engineer</h4>
            </div>
            <div class="col-md-3 team-member text-center">
                <img src="img/derek.png">
                <h3>Derek Dowling</h3>
                <h4>Scientist</h4>
            </div>
        </div>
    </div>
</div>
{{ end }}
