{{ define "content" }}
<div class="main-content">
    <div class="above-fold">
        <div id="banner" class="banner">
            <div class="container">
                <h2>Your Company + Bitcoin</h2>
                </br>
                </br>
                {{ template "signup" }}
                </br>
                </br>
                </br>
            </div>
        </div>
        <div id="features" class="features">
            <div class="container">
                <div class="row">
                    <div class="feature-item col-md-4 text-center"><i class="fa fa-calendar"></i>
                        <h3>Automated Recurring Transactions</h3>
                        <div class="desc">
                            <p>Power your sales commissions, payroll, or outbound expenses with ease.</p>
                        </div>
                    </div>
                    <div class="feature-item col-md-4 text-center"><i class="fa fa-users fa-4x"></i>
                        <h3>Multi-User Support</h3>
                        <div class="desc">
                            <p>Create budgets and manage assets on a department, team, or per employee level with the click of a button.</p>
                        </div>
                    </div>
                    <div class="feature-item col-md-4 text-center"><i class="fa fa-area-chart"></i>
                        <h3>Business Intelligence Tools</h3>
                        <div class="desc">
                            <p>Understand the flow of assets within your company through our comprehensive visualization tools.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="details" class="details">
        <ul class="list-details list-unstyled">
            <li>
                <div class="container">
                    <div class="detail-item clearfix">
                        <div class="col-sm-6 detail-desc">
                            <h2>The First Of It's Kind</h2>
                            <p>We've harnessed the power of Bitcoin allowing you 
                            to manage money in ways never before possible,
                            with unparalleled flexibility at unmatched speed.
                            </p>
                            </br>
                            <div class="text-center">
                                <a href="/signup" class="btn btn-download btn-lg">Click To Begin</a><br>
                            </div>
                        </div>
                        <div class="col-sm-6 detail-img"><img src="/img/bitcoin.png" style="width: 250px;" alt="img"></div>
                    </div>
                </div>
            </li>
            <li class="alt">
                <div class="container">
                    <div class="detail-item clearfix">
                        <div class="detail-desc">
                          <h2>Functionality Meets Simplicity</h2>
                          <p>We've brought the future to accounting by leveraging tools
                          and techniques from other cutting-edge, distributed platforms
                          and introduced them to the world of accounting.</p>
                        </div>
                        <div class="detail-img"><img src="" alt="img"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="detail-item clearfix">
                        <div class="detail-desc">
                            <h2>Reimagining The Flow of Money</h2>
                            <p>Share, combine, and audit the flow of money at multiple levels.
                            Re-imagine money as potential energy and direct it towards it's 
                            true purpose without the encumbrance of excessive 
                            transaction fees and international barriers.</p> 
                        </div>
                        <div class="detail-img"><img src="" width="250px" alt="img"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="testimonials" class="testimonials">
        <div id="testimonials-carousel" data-ride="carousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#testimonials-carousel" data-slide-to="0" class=""></li>
                <li data-target="#testimonials-carousel" data-slide-to="1" class="active"></li>
                <li data-target="#testimonials-carousel" data-slide-to="2" class=""></li>
                <li data-target="#testimonials-carousel" data-slide-to="3" class=""></li>
                <li data-target="#testimonials-carousel" data-slide-to="4" class=""></li>
            </ol>
            <div class="carousel-inner text-center">
                <div class="item">
                  <p>Great job! It's simply wonderful!</p><small>- Comments from buyer</small>
                </div>
                <div class="item active">
                  <p>Very impresive for being the first project here at wrapBootstrap and the very first angularjs theme amazing! Lot of plugins that are useful and not just inflate the package.</p><small>- Comments from buyer</small>
                </div>
                <div class="item">
                  <p>Great Job! First Angular JS Template on wrapBootstrap!</p><small>- Comments from buyer</small>
                </div>
                <div class="item">
                  <p>Really awesome that you're the first one who creates an AngularJS for wrapBootstrap. I've been looking for one for a long time, and it's really annoying to convert a non AngularJS theme to an AngularJS theme, so thanks for making my life easier.</p><small>- Comments from buyer</small>
                </div>
                <div class="item">
                  <p>Amazing! Exact what I looking for.</p><small>- someone famous</small>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
