{{ define "content" }}
<div class="above-fold">
    <div id="banner" class="banner">
        <div class="container">
            <h1>Bitcoin Wallets for Business</h1>
            <a href="/signup" target="_blank" class="btn btn-download btn-lg">Start now</a>
        </div>
    </div>
    <div id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="feature-item col-md-4 text-center"><i class="fa fa-users"></i>
                    <h3>Built For Business</h3>
                    <div class="desc">
                        <p>
                            An end-to-end wallet solution built specifically for
                            businesses.
                        </p>
                    </div>
                </div>
                <div class="feature-item col-md-4 text-center"><i class="fa fa-sitemap"></i>
                    <h3>Access Controls</h3>
                    <div class="desc">
                        <p>Provision and manage HD Bitcoin wallets on a company, department, or employee level.</p>
                    </div>
                </div>
                <div class="feature-item col-md-4 text-center"><i class="fa fa-magic"></i>
                    <h3>Easy Onboarding</h3>
                    <div class="desc">
                        <p>
                            Create new wallets with a click of a button, get your employees setup just as easily. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="details" class="details">
    <ul class="list-details list-unstyled">
        <li>
            <div class="container">
                <div class="detail-item clearfix">
                    <div class="col-sm-6 detail-desc">
                        <h2>The Next Generation Bitcoin Wallet</h2>
                        <p>
                            Bursa is a wallet management platform that makes provisioning and
                            managing a hierarchy of Bitcoin keys and address
                            super simple with
                            <a href="http://en.bitcoin.it/wiki/Deterministic_wallet" target="_blank">Deterministic Wallets</a>.
                        </p>
                        <p>
                            Manage your business assets with ease and
                            flexibility unparalleled by traditional currencies.
                        </p>
                    </div>
                    <div class="col-sm-6 detail-img">
                        <img src="/img/btc_wallet.png">
                    </div>
                </div>
            </div>
        </li>
        <li class="alt">
            <div class="container">
                <div class="detail-item clearfix">
                    <div class="col-sm-6 detail-desc">
                        <h2>Built To Scale</h2>
                        <p>
                            From wallet one to one thousand, we're build tools to
                            support your company along the way.
                        </p>
                        <p>
                            Analytics, expense reporting, asset visualizations,
                            all in one place.
                        </p>
                    </div>
                    <div class="col-sm-6 detail-img">
                        <img src="/img/graph_monitor.png">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="container">
                <div class="detail-item clearfix">
                    <div class="col-sm-6 detail-desc">
                        <h2>And The Best Is Still To Come</h2>
                        <p>
                            Our mission is to help businesses realize that Bitcoin
                            is more than just a currency, it's the most powerful financial
                            tool that's ever conceived.
                        </p>
                        <p> HD Wallets, Multi-Sig transactions, Smart Contracts. We're
                            just getting started on the next generation of business
                            accounting tools. All for Bitcoin.
                        </p>
                    </div>
                    <div class="col-sm-6 detail-img">
                        <img src="/img/rocket.png">
                    </div>
                </div>
            </div>
        </li>
        <li class="alt">
            <div class="container">
                <div class="col-lg-12 cta-desc">
                    <h2>See For Yourself</h2>
                    <a href="/signup" target="_blank" class="btn btn-download btn-lg">Start now</a>
                </div>
            </div>
        </li>
    </ul>
</div>
{{ end }}
