{{ define "content" }}
<div class="main-content">
    <div class="above-fold">
        <div id="banner" class="banner">
            <div class="container">
                <h2>Make running your business with Bitcoin simple.</h2>
                <a href="/signup" target="_blank" class="btn btn-download btn-lg">Start now</a>
            </div>
        </div>
        <div id="features" class="features">
            <div class="container">
                <div class="row">
                    <div class="feature-item col-md-4 text-center"><i class="fa fa-calendar"></i>
                        <h3>Automate Recurring Tasks</h3>
                        <div class="desc">
                            <p>Automate everything. Payroll, bonuses, commissions,
                                account balance warnings, top-ups, it's easy with us.
                            </p>
                        </div>
                    </div>
                    <div class="feature-item col-md-4 text-center"><i class="fa fa-users"></i>
                        <h3>Built For Business</h3>
                        <div class="desc">
                            <p>Built specifically for business owners, so you can
                                focus on growth instead of managing your Bitcoins.
                            </p>
                        </div>
                    </div>
                    <div class="feature-item col-md-4 text-center"><i class="fa fa-magic"></i>
                        <h3>The Best Tools, One Place</h3>
                        <div class="desc">
                            <p>We're bringing together the best tools, designed specifically
                                for Bitcoin, in one place.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="details" class="details">
        <ul class="list-details list-unstyled">
            <li>
                <div class="container">
                    <div class="detail-item clearfix">
                        <div class="col-sm-6 detail-desc">
                            <h2>Harness The Power Of Crypto</h2>
                            <p>Cryptocurrencies like Bitcoin are complicated, but
                                they're also the most powerful financial tools ever
                                created. Let us deal with the intricacies while you
                                gain the advantage of using the most fastest,
                                most advanced currency in the world.
                            </p>
                        </div>
                        <div class="col-sm-6 detail-img bitcoin">
                            <i class="fa fa-btc fa-20x"></i>
                        </div>
                    </div>
                </div>
            </li>
            <li class="alt">
                <div class="container">
                    <div class="detail-item clearfix">
                        <div class="col-sm-6 detail-desc">
                            <h2>With The Best Tools</h2>
                            <p>We're building and integrating all the Bitcoin tools you'll
                                need in order to run your business all on one platform
                                with Bursa.</p>
                        </div>
                        <div class="col-sm-6 detail-img">
                            <i class="fa fa-magic fa-20x"></i>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="detail-item clearfix">
                        <div class="col-sm-6 detail-desc">
                            <h2>And Gain The Upper Hand</h2>
                            <p>We've built all of this to allow you to gain the 
                                markets with the competitive advantage they need to
                                grow aggressively while operating with Bitcoin as 
                                their main tender.
                            </p>
                        </div>
                        <div class="col-sm-6 detail-img">
                            <i class="fa fa-clock-o fa-20x"></i>
                        </div>
                    </div>
                </div>
            </li>
            <li class="alt">
                <div class="container">
                    <div class="detail-item clearfix">
                        <div class="col-sm-6 detail-desc">
                            <h2>See For Yourself</h2>
                            <a href="/signup" target="_blank" class="btn btn-download btn-lg">Start now</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="testimonials" class="testimonials">
        <div id="testimonials-carousel" data-ride="carousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#testimonials-carousel" data-slide-to="0" class=""></li>
                <li data-target="#testimonials-carousel" data-slide-to="1" class="active"></li>
            </ol>
            <div class="carousel-inner text-center">
                <div class="item">
                  <p>Awesome!</p><small>- Customer</small>
                </div>
                <div class="item active">
                  <p>I never realized how amazing bitcoin could be.</p><small>- Customer</small>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
