<!-- This Is Our Signup Survey For Qualifying Leads -->

<!-- 

After user signsup, show them this survey.

Ask: 

1) What is your Full Name

2) How big is your team?

1-4,5-19, 20-49, 50-100, 100+

3) How many people work at your company?

1-9, 10-49, 50-99, 40-99, 100-500, 500+

4) What best describes your current job?
 Company leadership / executive management
  Engineering / technical development
   Team or project management
    Design / Product management
     Sales / Marketing
      Other

5) What tools do you currently use for team communication?
   Email
    IM / Chat
     Group messaging (Hipchat, Campfire, IRC, etc.)
      Skype / Hangouts
       Wiki or project management software
        Other

6) What made you interested in Bursa?
<Fill in the blank>

After confirmation email:
"Welcome!
You're about to set up a new team on Slack.

Your invitation was sent to admin@bursa.io.

Is this the correct email address?"

Confirm that the email address they are using is correct
"If that's not right, you can switch to a different email address. We'll need to send you a new invite, but we'll do that right away."
or switch to a different address which will recieve a different confirmation email

-->
