{{ define "content" }}
<div id="content" class="err-container content-container">
    <div class="text-center">
        <div class="err-status">
            <h1>Success!</h1>
        </div>
        <div class="err-message">
            <h2>Wow, thanks for your interest!</h2>
            <p>We're super excited to launch Bursa and are hard at work getting it ready for you.
                You'll be the first to know when you can get your hands on it, so keep checking your inbox!</p>
            <p>Derek, Co-Founder</p>
        </div>
        <div class="err-body">
            <a href="http://blog.bursa.io" class="btn btn-lg btn-goback"><span class="glyphicon glyphicon-home"></span><span class="space"></span>Check Out Our Blog</a>
        </div>
    </div>
</div>
<div class="footer text-center ng-binding">Copyright 2014 Bursa</div>
{{ end }}
